
<p style="color: green"><%= notice %></p>

<br>
<h1 class="mb-3">Community Discussions</h1>
<br>

<%= link_to "Start a New Discussion", new_post_path, class: "btn btn-primary mb-3" %>

<br>

<div id="posts" class="w-100 d-flex flex-column align-items-center justify-content-start">
  <% @posts.reverse_order.each do |post| %>
    <div class="card w-75 mb-3" >
      <%= render post %>
      <ul class="list-group list-group-flush">
        <% post.comments.each do |comment| %>
          <li class="list-group-item text-secondary"><%= comment.content %></li>
        <% end %>
        <li class="list-group-item text-secondary"><%= render partial: 'comments/form', locals: { post_id: post.id } %></li>
      </ul>
    </div>
    <br>
  <% end %>
</div>


