<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <% if post.comments.any? %>
    <p>Comments:</p>
    <ul>
      <% post.comments.each do |comment| %>
        <li><%= comment.content %></li>
      <% end%>
    </ul>
    <% end %>
    <%= render partial: 'comments/form', locals: { post_id: post.id } %>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
